<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <!--<link href="/css/normalize.css" rel="stylesheet">-->

    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header-top-bar">
            <div class="header-top-bar-dos">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo de mercado liebre">
                <div class="search-container">
                    <input class="search-input" type="text" placeholder="Buscar productos, marcas ...">
                    <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            <p class="header-bottom-bar"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de
                crédito</p>
        </div>

        <nav class="header-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <img class="banner" src="/images/img-home-banner.jpg" alt="banner">

    <main class="main">
        <section class="section-top">
            <p class="titular">Basado en tu última visita</p>
            <div class="lista-articulos">
                <article class="articulo">
                    <img class="imagen-articulo" src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                    <div class="articulo-detalles">
                        <div class="truck"><i class="fa-solid fa-truck"></i></div>
                        <div class="precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="imagen-articulo" src="/images/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
                    <div class="articulo-detalles">
                        <div class="truck"><i class="fa-solid fa-truck"></i></div>
                        <div class="precio-descuento">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="imagen-articulo" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                    <div class="articulo-detalles">
                        <div class="truck"><i class="fa-solid fa-truck"></i></div>
                        <div class="precio-descuento">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="imagen-articulo" src="/images/img-tv-samsung-smart.jpg" alt="smarttv samsung 43">
                    <div class="articulo-detalles">
                        <div class="truck"><i class="fa-solid fa-truck"></i></div>
                        <div class="precio-descuento">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
        <section class="section-bottom">
            <p class="titular">Ofertas</p>
            <div class="lista-articulos">
                <article class="articulo">
                    <img class="imagen-articulo" src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                    <div class="articulo-detalles">
                        <div class="truck"><i class="fa-solid fa-truck"></i></div>
                        <div class="precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="imagen-articulo" src="/images/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
                    <div class="articulo-detalles">
                        <div class="truck"><i class="fa-solid fa-truck"></i></div>
                        <div class="precio-descuento">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="imagen-articulo" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                    <div class="articulo-detalles">
                        <div class="truck"><i class="fa-solid fa-truck"></i></div>
                        <div class="precio-descuento">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="imagen-articulo" src="/images/img-tv-samsung-smart.jpg" alt="smarttv samsung 43">
                    <div class="articulo-detalles">
                        <div class="truck"><i class="fa-solid fa-truck"></i></div>
                        <div class="precio-descuento">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-items">
            <i class="fa-solid fa-credit-card icono-grande"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                siempre es seguro!</p>
        </div>
        <div class="footer-items">
            <i class="fa-solid fa-gift icono-grande"></i>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio
                de Mercado Puntos.</p>
        </div>
        <div class="footer-items">
            <i class="fa-solid fa-user-shield icono-grande"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
                protegid@.</p>
        </div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

    <script src="https://kit.fontawesome.com/961394abd1.js" crossorigin="anonymous"></script>
</body>

</html>